@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

header {
    background-color: gray;
}

header {
    padding: 20px;
    text-align: center;
    margin-bottom: 10px;
}

header h1 {
    margin-bottom: 20px;
}

menu a {
    text-decoration: none;
    color: white;
    background-color: rgb(82, 82, 82);
    padding: 5px;
    border-radius: 10px;
}

menu li {
    list-style-type: none;
    display: inline;
}

a:hover {
    background-color: lightgray;
    transition: 0.2s;
}

body {
    background: rgb(209, 209, 209);
}

main {
    background-color: white;
    border-radius: 10px;
    padding: 10px;
    max-width: 700px;
    margin: auto;
}

main article h1 {
    margin-bottom: 10px;
}

main article p {
    text-indent: 20px;
}