@charset "UTF-8";

div.container {
    background-color: darkblue;
    display: flex;
    flex-flow: row wrap;
}

div.item {
    background-color: lightskyblue;
    border: 1px solid black;
    text-align: center;
    padding: 20px;
}

div#i1 {
    order: 0;
}

div#i2 {
    order: 0;
}

div#i3 {
    order: 0;
}

div#i4 {
    order: 0;
}

div#i5 {
    order: 0;
}

div#i6 {
    order: 0;
}

div#i7 {
    order: 0;
}