@charset "UTF-8";

@media screen and (max-width: 700px) {
    header span#menu {
        display: block;
        width: 100vw;
        padding: 5px;
        text-align: center;
        background-color: black;
        color: white;
        cursor: pointer;
        margin-top: 10px;
    }

    header span#menu:hover {
        background-color: white;
        color: black;
        transition: .3s;
    }

    header nav {
        gap: 0px;
        display: none;
    }
    header, header nav {
        flex-flow: column nowrap;
    }

    header nav a {
        width: 100vw;
        border-radius: 0px;
        border: 1px solid rgb(46, 46, 46);
    }
}